@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosansthaiui.css);
.watch-body {
  width: 100%;
  font-family: "Noto Sans Thai UI", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #4b4b4b;
  font-weight: 200; }
  .watch-body a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s; }
    .watch-body a:hover {
      -webkit-transition: all 0.2s;
      /* Safari */
      transition: all 0.2s;
      color: #ccc; }
  .watch-body .watch-header-container {
    background-color: #fff;
    height: 56px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    position: fixed;
    top: 0px; }
    .watch-body .watch-header-container .watch-header {
      max-width: 960px;
      margin: auto; }
      .watch-body .watch-header-container .watch-header .watch-logo .watch-logo-text {
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: ２00;
        cursor: pointer; }
      .watch-body .watch-header-container .watch-header .watch-logo .watch-beta-tag {
        font-size: 12px;
        line-height: 24px;
        color: #4b4b4b;
        font-weight: 200;
        margin-left: 4px;
        cursor: pointer; }
      .watch-body .watch-header-container .watch-header .watch-menu-item {
        font-size: 12px;
        line-height: 24px;
        color: #000;
        font-weight: 200;
        float: right;
        margin-left: 12px;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        /* Safari */
        transition: all 0.2s; }
        .watch-body .watch-header-container .watch-header .watch-menu-item:hover {
          -webkit-transition: all 0.2s;
          /* Safari */
          transition: all 0.2s;
          color: #ccc; }
        @media screen and (max-width: 620px) {
          .watch-body .watch-header-container .watch-header .watch-menu-item {
            display: none; } }
      .watch-body .watch-header-container .watch-header .watch-menu-item-label {
        font-size: 12px;
        line-height: 24px;
        color: #4b4b4b;
        font-weight: 200;
        float: right;
        margin-left: 12px;
        margin-right: -8px; }
        @media screen and (max-width: 620px) {
          .watch-body .watch-header-container .watch-header .watch-menu-item-label {
            display: none; } }

button {
  height: 32px;
  margin: 4px;
  border: solid 1px #ccc;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  /* Safari */
  transition: all 0.2s;
  color: #4b4b4b; }
  button:hover {
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
    border: solid 1px #4b4b4b; }

.watch-header-topic {
  padding-top: 88px;
  padding-bottom: 32px;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px; }

.watch-header-filter-label {
  padding-top: 8px;
  padding-bottom: 4px;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  line-height: 16px; }

.watch-header-filter {
  padding-top: 0px;
  max-width: 960px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px; }

.watch-result-container {
  padding-top: 32px;
  max-width: 960px;
  margin: auto;
  text-align: center; }
  .watch-result-container .watch-result-card {
    width: 192px;
    height: 200px;
    background-color: #fff;
    display: inline-block;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
    text-align: center;
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer; }
    .watch-result-container .watch-result-card .watch-potrait {
      width: 96px;
      height: 96px;
      border-radius: 48px;
      background-color: #ccc;
      margin-top: 16px;
      margin: auto; }
    .watch-result-container .watch-result-card #cardname {
      font-size: 16px;
      line-height: 18px;
      margin-top: 8px; }
    .watch-result-container .watch-result-card #cardsurname {
      font-size: 12px;
      line-height: 14px;
      margin-top: 0px; }
    .watch-result-container .watch-result-card #cardposition {
      font-size: 10px;
      line-height: 12px;
      margin-top: 4px; }
    .watch-result-container .watch-result-card #cardparty {
      font-size: 10px;
      line-height: 12px;
      margin-top: 0px; }
    @media screen and (max-width: 425px) {
      .watch-result-container .watch-result-card {
        width: 160px; } }
    .watch-result-container .watch-result-card:hover {
      color: #000; }

.watch-footer {
  background-color: #ececec;
  min-height: 48px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  text-align: center; }
